NODE_ENV=development
PORT=3000
CLIENT_URL_DEV=http://localhost:5173

MONGO_URI=

JWT_ACCESS_KEY=default-key
JWT_REFRESH_KEY=default-key
JWT_RESET_KEY=default-key
CSRF_SECRET=default-key

RESEND_API_KEY=
RESEND_FROM_EMAIL=

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_SECRET=

RECAPTCHA_SECRET_KEY=